{% extends 'base.html' %}

{% block main %}
  <main class="container mt-3">
    <p class="text-center font-weight-bold">YAROSLAV KORENSKOY - JUNIOR DEV TEST ASSIGNMENT - REAKTOR GROUP OY</p>


    {% if unit_type %}
      <div class="container mb-3 mt-3">
      <p class="text-center">Please wait for a few seconds until the table and table-menu will be loaded.</p>
       <table class="table table-striped table-fixed table-bordered mydatatable" style="width: 100%">
        <thead>
          <tr>
            <th class="th-sm">AVAILABILITY</th>
            <th class="th-sm">NAME</th>
            <th class="th-sm">MANUFACTURER</th>
            <th class="th-sm">COLOR</th>
            <th class="th-sm">PRICE</th>
            <th class="th-sm">ID</th>

          </tr>
        </thead>
        <tbody>
        {% for id in drawData.items() %}
          <tr>
            <td> {{ id[1].availability }} </td>
            <td> {{ id[1].name }} </td>
            <td> {{ id[1].manufacturer }} </td>
            <td> {{ id[1].color|join(', ') }} </td>
            <td> {{ id[1].price }} </td>
            <td> {{ id[0] }} </td>

          </tr>
        {% endfor %}
        </tbody>
       </table>
      </div>


    {% else %}
      <div class="alert alert-info text-center" role="alert">
        Please, choose a clothes type by clicking on a button below (or above in the menu).
      </div>
      <div class="container text-center">
      <p class="text-center">After that, please wait for a few seconds until the table and table-menu will be loaded.</p>
      <a class="btn btn-outline-secondary" href="/jackets" role="button">JACKETS</a>
      <a class="btn btn-outline-secondary" href="/shirts" role="button">SHIRTS</a>
      <a class="btn btn-outline-secondary" href="/accessories" role="button">ACCESSORIES</a>
      </div>

    {% endif %}



  </main>

{% endblock %}̊